.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.popularEventsTitle {
  font-size: 2rem;
  text-align: center;
  font-weight: 500;
  letter-spacing: -2px;
  margin: 2rem 0;
}
.viewEvents {
  display: inline-block;
  color: #ffff;
  background-color: rgb(116, 109, 109);
  font-size: 0.8rem;
  padding: 10px 1rem;
  margin-bottom: 1rem;
  cursor: pointer;
  border-radius: 4px;
}
