.container {
  background: linear-gradient(
      to right,
      rgba(0, 0, 255, 0.592),
      rgba(197, 28, 209, 0.564)
    ),
    url("../public/images/showcase.jpg");
  height: 200px;
  color: #ffff;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainTitle {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: -2px;
}
